@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');
/*-----CARD SECTION-----*/
.card-section {
  font-family: Yu Gothic;
  background-color: #EFEFEF;
  padding: 4.5rem 0 9rem 0;
}
.card-section h1 {
  font-size: 3.5rem;
  font-weight: 700;
  color: #333333;
}
.card-section hr {
  width: 5rem;
  height: .25rem;
  margin: 2.5rem auto;
  background-color:#3F51B5;
}
.card-section-contain {
  display:flex;
  justify-content: center;
  margin:auto;
}

.card-section-item {
  background-color: #ffffff;
  width: 100%;
  height: auto; 
  padding: 1rem 1rem 1.75rem 1rem;
  margin: 0 1rem 1rem 1rem; 
  max-width: 400px; 
}

.card-section-item__img {
  display:block;
  height: 10rem;
  background-color: #DDDDDD;
}
.card-section-item__text {
  color: #6F7579;
  text-align: left;
}
.card-section-item__text h3 {
  font-size: 1.2rem;
  font-weight: 700;
  padding-top: 1.6em;
  padding-bottom: 0.6em;
}
.card-section-item__text p {
  font-size: 0.9rem;
  font-weight: 600;
}










/*---Media Queries --*/
@media (min-width: 1500px) {
  /*Card section*/
  .card-section-contain {
    width: 90%;
  }
}
@media (max-width: 992px) {

  }
@media (max-width: 768px) {
  .card-section h1 {
  font-size: 3rem;
}
.card-section hr {
  width: 2.5rem;
  margin: 1.2rem auto;
}
.card-section-item {
  margin-bottom: 2rem; 
}
}
@media (max-width: 576px) {
  /*Card section*/
  .card-section-contain {
    width: 80%;
  }
  .card-section h1 {
    font-size: 2.5rem;
  }
  .card-section hr {
    width: 3rem;
    margin: 1.5rem auto;
  }
  .card-section-item__text h3 {
    font-size: 1 rem;
    padding-top: 1.2em;
    padding-bottom: 0.2em;
  }
  .card-section-item__text p {
    font-size: 0.8rem;
  }
}

/*---Firefox Bug Fix --*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}
/*--- Fixed Background Image --*/
figure {
  position: relative;
  width: 100%;
  height: 60%;
  margin: 0!important;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#fixed {
  background-image: url('img/mac.png');
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
}
/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}





/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/
